
/*#top--img{*/
/*    position:absolute;*/
/*    top:0;*/
/*    left:0;*/
/*    z-index:-1;*/
    /*margin-top: -110px;*/
/*}*/

.navbar-toggle {
    z-index: 2;
}

.navbar-brand-center {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0;
    text-align:center;
    margin: auto;
}

@media (min-width: 768px) {
    
    .navbar-brand-center {
        margin-left: 0 !important;
    }
}

.nav-item{
    color :skyblue;
}

.mr-10{
    margin-right:100px;
}

.h7{
    font-size: 0.8rem;
}

.text-decoration-none{
    text-decoration: none;
}

#nav{
    position:fixed;
    width:100%;
    background: linear-gradient( rgba(34, 34, 34, 0.8),rgba(0, 0, 0, 0));
    transition: background-color 250ms;
    z-index:1000;
}


.nav--wrapper:hover > #nav{
    transition: background-color 250ms;
}

.navbar-kinpaku{
    color:#F4EAB9;
    font-family: "Renner*";
    z-index:5;
}

.nav--ul{
    padding-top:50px;
    z-index: 2;
    /*width:30%;*/
    
}





.nav--icon{
    position:absolute;
    top:25px;
    left:87%;
    font-size:1.3em;
    
    z-index: 2;
}

.active a{
    opacity:0.8;
    transition:opacity 100ms;
}

.active a:hover{
    opacity:1;
    transition:opacity 100ms;
}

.nav--icon a{
    opacity:0.8;
    transition:opacity 100ms;
}

.nav--icon a:hover{
    opacity:1;
    transition:opacity 100ms;
}

.sample{
    height:1000px;
    width:100px;
}

#megaMenu{
    width: 100%;
    opacity: 0.9;
    z-index: 1000;
}

#megaMenu div{
    display: none;
}

.top--slide ul li img{
    z-index:-1;
}

.slider{
    margin: 100px auto;
    width: 100%;
}
.slider img{
    height: auto;
    width: 80%;
}

.slick-center{
margin-right:30px;
margin-left:30px;
}

/*記事*/
.top--article{
    margin-top:100px;
}

.tip1{
    width:45%;

    margin-left:8%;
    background-color: #eee;
    font-family:"Ryumin Light KL" ;
}

.tip1 h1{
    margin-top:160px;
}
.tip1 h2{
    margin-top: 10px;
}

.top--article--img1{
    width:35%;
    margin-left:5% ;
}



