<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/front.css">
    <link rel="stylesheet" href="../../assets/css/item.css">    
    <link rel="stylesheet" href="https://indestructibletype-fonthosting.github.io/renner.css" type="text/css" charset="utf-8" />
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?5df596b32a704ba49f3671deac1e0217" charset="utf-8"></script>
    <title>kin-paku |　商品一覧</title>
</head>
<body>
    <section class="item--list d-flex">

    <!--ここからfor文で回す-->
    
        <div class="card mr-4 mb-4" style="width: 18rem;">
            <a href="#"><img class="card-img-top" src="../../assets/images/kinpaku_img01.jpeg" alt="image01"></a>
            <div class="card-body">
                <h5 class="d-inline" style='font-family:"Ryumin Light KL"'>金箔の皿</h5>
                <span class="item--price" style='font-family: "Renner*"'>¥1000</span>
            </div>
        </div>
        
    <!--ここまで-->
        
    </section>
</body>
</html>