<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>金箔サイト 管理者画面</title>
</head>
<body>
    <h1>商品の登録確認</h1>
    <h2>商品情報</h2>

    <form action="insert.php" method="post">
      
        <table class="searchTbl">
            <tr>
                <th>ID</th>
                <td>IDは自動で番号がつきます</td>
            </tr>
            <tr>
                <th>商品名</th>
                <td>
                    <?= $sName ?>
                    <input type="hidden" name="name" value="<?= $sName ?>">
                </td>
            </tr>
            <th>画像</th>
                <td>
                    <?php
                    if(isset($sImage)){
                        $uri = "data:image/jpg;base64," . base64_encode($sImage);
                    }
                    else{
                        $uri = "../assets/images/NOIMAGE.jpeg";
                    }
                    ?>
                    <img class="tag--img" src=<?= $uri ?> alt="商品イメージ">
                    <input type="hidden" name="image" value="<?= $uri ?>"><br />
                </td>
            <tr>
                <th>名前</th>
                <td>
                    <?= $sPrice ?>
                    <input type="hidden" name="price" value="<?= $sPrice ?>">
                </td>
            </tr>
            <tr>
                <th>在庫</th>
                <td>
                    <?= $sInventory ?>
                    <input type="hidden" name="inventory" value="<?= $sInventory ?>">
                </td>
            </tr>
            <tr>
                <th>タグ</th>
                <td>
                    <?= $sTag ?>
                    <input type="hidden" name="tag" value="<?= $sTag ?>">
                </td>
            </tr>
        </table>

        <div class="btnArea clearfix">
            <input type="button" class="btn btn-outline-primary" value="修正" onclick="javascript:history.back();">
            <input type="submit" class="btn btn-primary" value="登録">
            <input type="hidden" name="step" value="2" />
        </div>
    </form>

    <a href="management.php">トップページへ戻る</a><br />

</body>
</html>
