<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>金箔サイト 管理者画面</title>
</head>
<body>
    <h1>商品の更新</h1>
    <h2>商品情報</h2>

    <p>商品を更新しました。</p>
      
    <a href="management.php">トップページへ戻る</a><br />

</body>
</html>
