<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../common/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>金箔サイト 管理者画面</title>
</head>
<body>
    <h1>会員の登録確認</h1>
    <h2>会員情報</h2>

    <form action="userInsert.php" method="post">
      
        <table class="searchTbl">
            <tr>
                <th>ID</th>
                <td>IDは自動で番号がつきます</td>
            </tr>
            <tr>
                <th>名前</th>
                <td>
                    <?= $sUserName ?>
                    <input type="hidden" name="userName" value="<?= $sUserName ?>">
                </td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>
                    <?= $sMail ?>
                    <input type="hidden" name="mail" value="<?= $sMail ?>">
                </td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>
                    <?= $sPassword ?>
                    <input type="hidden" name="password" value="<?= $sPassword ?>">
                </td>
            </tr>
            <tr>
                <th>住所</th>
                <td>
                    <?= $sAddress ?>
                    <input type="hidden" name="address" value="<?= $sAddress ?>">
                </td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>
                    <?= $sTel ?>
                    <input type="hidden" name="tel" value="<?= $sTel ?>">
                </td>
            </tr>
        </table>

        <div class="btnArea clearfix">
            <input type="button" class="btn btn-outline-primary" value="修正" onclick="javascript:history.back();">
            <input type="submit" class="btn btn-primary" value="登録">
            <input type="hidden" name="step" value="2" />
        </div>
    </form>

    <a href="userManage.php">トップページへ戻る</a><br />

</body>
</html>
